In [10]:
pip install pandas

Requirement already satisfied: pandas in /srv/conda/envs/notebook/lib/python3.10/site-packages (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [14]:
def extract():
    return pd.read_csv("https://raw.githubusercontent.com/marcelkoopman/notebook/main/vakgroep.csv", sep=';');

In [12]:
def totaal(df):
    return len(df);

In [5]:
def totaal_intern(df):
    intern_df = df[df['Dienstverband'].str.match('Intern', na=False)]
    return len(intern_df)

In [6]:
def totaal_extern(df):
    extern_df = df[df['Dienstverband'].str.match('Extern', na=False)]
    return len(extern_df)

In [15]:
extract()

,Workday Employee ID,Voornaam,Achternaam,Geslacht,Functieniveau,Dienstverband,Team
0,356400.0,Alex,Oldenburger,M,Senior,Extern,Docters
1,350857.0,Marco,Hak,M,Senior,Extern,Shared services
2,357856.0,Arjen,Vermaas,M,Senior,Extern,TDS
3,3.0,Masudul,Haque,M,Senior,Extern,Beleggingen
4,5.0,Dick,Visser,M,Senior,Extern,Beleggingen
5,10.0,Marc,"Kwant, de",M,Senior,Extern,GenP
6,11.0,Kees,Vlak,M,Senior,Extern,Ipde
7,350871.0,Sietse,Fennema,M,Medior,Intern,UPA
8,325270.0,Rudi,Kruizinga,M,Senior,Intern,PPDA
9,325420.0,Ard,Kooi,M,Senior,Intern,Beleggingen
10,326312.0,Desiree,Croes,V,Medior,Intern,GenP
11,349886.0,Arjan,"Putten, van",M,Senior,Intern,Shared services
12,352127.0,Guus,"Dag, voor den",M,Senior,Intern,Aanspraak
13,348888.0,Patricia,Orriens-Spuij,V,Medior,Intern,Juppiter
14,17.0,Virna,Ridderbos,V,Junior,Intern,Shared services
15,18.0,Taeke,Nutma,M,Medior/Senior,Intern,Beleggingen
16,NaN,Iyad,Saffaf,M,Senior,Intern,Recht
17,NaN,Jorian,Koning,M,Junior,Intern,GenP

In [ ]:
df = extract();
totaal(df);

In [ ]:
print(totaal_extern(df))

In [ ]:
print(totaal_intern(df));

In [ ]:
print(totaal(df));